In [ ]:
import pandas as pd 
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB  # suitable for discreate feature and Gusian naive bayes for continous
from sklearn.metrics import accuracy_score ,f1_score , precision_score , recall_score

In [ ]:
df = pd.read_csv('/content/spam.csv',encoding='ISO-8859-1')
df = df.iloc[:,:2]
df.rename(columns={'v1':'label', 'v2' : 'sms'},inplace=True)

In [ ]:
df['label'] = df.label.map({'ham':0 , 'spam':1})
df.head()

   label                                                sms
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(df['sms'], df['label'], test_size=0.33, random_state=42)

In [ ]:
count_vector = CountVectorizer()
train_data = count_vector.fit_transform(X_train)
testing_data = count_vector.transform(X_test)

In [ ]:
count_vector = CountVectorizer()
col_name = count_vector.fit(df['sms']).get_feature_names_out()
data = count_vector.transform(list(df['sms'])).toarray()
BOW = pd.DataFrame(data, columns= col_name)
BOW.head()

,00,000,000pes,008704050406,0089,0121,01223585236,01223585334,0125698789,02,...,ó_,û_,û_thanks,ûªm,ûªt,ûªve,ûï,ûïharry,ûò,ûówell
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
naive_bayes = MultinomialNB()
naive_bayes.fit(train_data, y_train)

MultinomialNB()

In [ ]:
predection = naive_bayes.predict(testing_data)

In [ ]:
print('Accuracy score: {}'.format(accuracy_score(y_test, predection)))
print('precision_score: {}'.format(precision_score(y_test, predection)))
print('recall_score: {}'.format(recall_score(y_test, predection)))
print('f1_score: {}'.format(f1_score(y_test, predection)))

Accuracy score: 0.9825992387166939
precision_score: 0.9741379310344828
recall_score: 0.8968253968253969
f1_score: 0.9338842975206612